@model ResultBlogDto
@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('@Model.CoverImage');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-6">
                <div class="post-entry text-center">
                    <h1 class="mb-4">@Model.Title</h1>
                    <div class="post-meta align-items-center text-center">
                        <figure class="author-figure mb-0 me-3 d-inline-block"><img src="@Model.Writer.ImageUrl" alt="Image" class="img-fluid"></figure>
                        <span class="d-inline-block mt-1">By @Model.Writer.FullName</span>
                        <span>&nbsp;-&nbsp; @Model.CreatedDate</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">

        <div class="row blog-entries element-animate">

            <div class="col-md-12 col-lg-8 main-content">

                <div class="post-content-body">
                    
                    <div class="row my-4">
                        <div class="col-md-12 mb-4">
                            <img src="@Model.CoverImage" alt="Image placeholder" class="img-fluid rounded" style=" width: 100%;">
                        </div>
                        <div class="col-md-6 mb-4">
                            <img src="@Model.BlogImage1" alt="Image placeholder" class="img-fluid rounded">
                        </div>
                        <div class="col-md-6 mb-4">
                            <img src="@Model.BlogImage2" alt="Image placeholder" class="img-fluid rounded">
                        </div>
                    </div>
                    <p>@Model.Description</p>

                </div>
                <div class="pt-5">
                    <p>
                        Kategori:  <a href="#">@Model.Category.CategoryName</a>
                    </p>
                </div>
                <div class="pt-5 comment-wrap">
                    <h3 class="mb-5 heading">@Model.Comments.Count(c => !c.IsToxic) Yorum</h3>
                    <ul class="comment-list">

                        @foreach (var comment in Model.Comments.Where(x => !x.IsToxic))
                        {
                            <li class="comment">
                                <div class="vcard">
                                    <img src="@comment.User.ImageUrl" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                    <h3>@comment.User.FullName</h3>
                                    <div class="meta">@comment.CreatedDate</div>
                                    <p>@comment.Content</p>

                                </div>
                            </li>
                        }
                    </ul>
                    <!-- END comment-list -->

                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Yorum Yap</h3>

                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (TempData["Error"] != null)
                            {
                                <div class="alert alert-danger">
                                    @TempData["Error"]
                                </div>
                            }

                            @if (TempData["Success"] != null)
                            {
                                <div class="alert alert-success">
                                    @TempData["Success"]
                                </div>
                            }
                            <form method="post"
                                  asp-controller="Comment"
                                  asp-action="Create"
                                  class="p-5 bg-light">

                                <input type="hidden" name="BlogId" value="@Model.Id" />

                                <div class="form-group">
                                    <label>Yorumunuz</label>
                                    <textarea name="Content"
                                          cols="30"
                                          rows="6"
                                          class="form-control"
                                          required></textarea>
                                </div>

                                <div class="form-group mt-3">
                                    <button type="submit" class="btn btn-primary">
                                        Yorumu Gönder
                                    </button>
                                </div>
                            </form>
                        }
                        else
                        {
                            <div class="alert alert-warning">
                                Yorum yapabilmek için
                                <a href="/Login/Index">giriş yapmalısınız</a>.
                            </div>
                        }
                    </div>
                </div>

            </div>

            <!-- END main-content -->

            <div class="col-md-12 col-lg-4 sidebar">
                
                <!-- END sidebar-box -->
                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="@Model.Writer.ImageUrl" alt="Image Placeholder" class="">
                        <div class="bio-body">
                            <h2>@Model.Writer.FullName</h2>
                            <p class="mb-4">@Model.Writer.Title</p>
                            <p><a href="#" class="btn btn-primary btn-sm rounded px-2 py-2">Biomu Ziyaret Et</a></p>
                        </div>
                    </div>
                </div>
                <!-- END sidebar-box -->
                @await Component.InvokeAsync("_Last3BlogsComponent")
                <!-- END sidebar-box -->
                @await Component.InvokeAsync("_DefaultCategoriesComponent")
                <!-- END sidebar-box -->

                <div class="sidebar-box">
                    <h3 class="heading">Etiketler</h3>
                    <ul class="tags">
                        @foreach (var tag in Model.BlogTags)
                        {

                            <li><a href="#">@tag.Tag.Name</a></li>
                        }

                    </ul>
                </div>
            </div>
            <!-- END sidebar -->

        </div>
    </div>
</section>